*,
*::before,
*::after {
    box-sizing: border-box;
}
.header-section{
    border-bottom: 1px solid #e7e9fc;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
img{
display: block;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
.header-navigation{
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-web-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.menu-cl{
    display: flex;
    gap: 40px;
}
.list-item:not(:last-child){
margin-right: 40px;
}
.header-list-items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-list-items:hover,
.header-list-items:focus {
    color: #404bbf;

}

address {
    font-style: normal;
}

.info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.info:hover,
.info:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
}

.title-first-section {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}


.button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

h2 {
    font-weight: 700;
}

.list-item-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-item-second-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.third-section {
    background-color: #F4F4FD;
}

.third-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.image-third-section {
    background-color: #FFFFFF;
}

.list-item-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-item-third-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-class {
    background-color: #2E2F42
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-web-studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #F4F4FD;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footerp {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}